@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,300;1,300&display=swap');  /* Google fonts import */

/* Asterisk wildcard selector to override the browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 100% inherit;
}

/* General styles for all web page */
body {
    min-height: 100vh;  /* minimum height of 100% of the viewport height, to stretch larger than the height of the screen when there is enough content on the page */
    display: flex;
    flex-direction: column;  /* elements will still show underneath each other */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

/* Google fonts style class rules */
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}


/* ----- Header of the page ----- */
header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #3a3a3a;  /* horizontal offset, vertical offset, the blur [how soft or hard the shadow will look], color value, needed when nav links are hidden */
    display: flex;  /* box and X will show in a row */
    justify-content: space-between;  /* box and X with space */
    align-items: baseline;  /* box and X will show in a line vertically */
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Dancing Script", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#top-menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#top-menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Top navigation styles with dropdown button */
nav {
    position: absolute;  /* element is outside the normal flow of the page structure, positioned relative to the header */
    background-color: #fff;
    width: 100%;
    left: 0;  /* Align Top navigation links [list elements] on the left of the page */
    padding: 0 1rem;
    box-shadow: 0 3px 2px #3a3a3a;  /* horizontal offset, vertical offset, the blur [how soft or hard the shadow will look], color value */
    display: none;  /* items are hidden until the user clicks to open them */
    top: 100%;  /* tells the navigation element that the top of the element should start at the bottom of its parent, 0% would represent the top of the parent */
}

/* Check boxes have a pseudo class that indicates when they are checked, which we can use in our css.
When this is checked, we want the sibling nav element to display.
So for that, we need the tilde to indicate that we want to target the adjoining nav element. */
#top-nav-button:checked~nav {
    display: block;
}

#top-nav-button {
    display: none;  /* to hide checkbox becouse only label X is enough from now on */
}

.top-nav-button-label {
    font-size: 2rem;
}


/* ----- Main content section on the page ----- */
main {
    flex: 1 0 auto;  /* take up any surplus space it should not shrink when the screen is too small to show all the content */
    margin-top: 45px;  /* Push down placeholder text, covered with header because header's position is fixed, it was taken out of the normal flow of elements on the page */
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/horizon-FelixMittermeier-pxhere.com.webp") no-repeat center center/cover;  /* centred both horizontally and vertically/automatically size itself */
}


/* ----- Footer of the page ----- */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* First start build each part of the project so it looks good on mobile before start thinking about larger screens, where follows tablet size.
Media queries should always go at the bottom of CSS file with the smallest screen size first [tablet 768px] and the largest last [1200px and up] */

@media screen and (min-width: 768px) {  /* Any CSS written between these two curly braces will only be applied at the larger screen sizes. */
    /* Header */
    nav {
        display: block;  /* to make sure that the top navbar is always displayed */
        position: relative;  /* placed back inside the header */
        box-shadow: none;  /* to remove the box shadow */
        width: fit-content;  /* This way it no longer takes up all of the space in the header, allowing flex styles from earlier to push it nicely to the right. */
        padding-right: 1rem;  /* menu items will not stick to the edge of the screen */
    }

    #top-menu {
        display: flex;  /* links are all shown in a row */
    }

    #top-menu > li {
        padding-left: 1rem;  /* nav bar items aren't sticking together anymore */
    }

    .top-nav-button-label {
        display: none;  /* to hide label X for dropdown top menu */
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 79px;  /* Push main content down to adopt for biger header */
    }
}

@media screen and (min-width: 992px) {  /* Next rules are for laptops and monitors with 992px and up */
    #top-menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    
}